.field-input {
  display: block; 
  width: 100%;
  height: var(--sp-12);
  background: var(--grey-11);
  border-radius: var(--br);
  padding: 0 var(--sp-6);
  border: 1px solid transparent;
  font-size: var(--fz-sm);
  color: var(--grey-5);

  &.input--error {
    border-color: var(--error-8);
  }
}