

// COLORS
$white: #fff;

$grey-1: #F4F5F9;
$grey-2: #EBEBEB;
$grey-3: #BAC7C7;
$grey-4: #7E828C;

$primary: #8A85EC;
$primary-light: #C7C4FF;


// SPACINGS
$sidebar-width: 240px;
$main-horizontal: 60px;
$main-vertical: 30px;
$header-height: 70px;

$table-row-padding-x: 13px;
$table-row-pre-width: 30px;
$table-row-post-width: 90px;
$table-row-cells-margin-x: 25px;

// FLUID MIXINS VARIABLES
$fl-min-w: 400px;
$fl-max-w: 1200px;


