 
// SCREEN-SIZES

$screen-sm: 640px;
$screen-md: 940px;
$screen-lg: 1024px;
$screen-xl: 1280px;

// FONT FAMILY

$sans: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$serif: Merriweather, Georgia, Cambria, "Times New Roman", Times, serif;

// FONT SIZE

$fz-xs: 0.75rem;
$fz-sm: 0.875rem;
$fz-base: 1rem;
$fz-lg: 1.125rem;
$fz-xl: 1.25rem;
$fz-2xl: 1.5rem;
$fz-3xl: 1.875rem;
$fz-4xl: 2.25rem;
$fz-5xl: 3rem;
$fz-6xl: 4rem;
$fz-7xl: 5.625rem;

// FONT WEIGHT
$fw-hairline: 100;
$fw-thin: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

// LETTER SPACING

$tracking-tighter: -0.05em;
$tracking-tight: -0.025em;
$tracking-normal: 0;
$tracking-wide: 0.025em;
$tracking-wider: 0.05em;
$tracking-widest: 0.1em;

// SPACING

$sp-px: 1px;
$sp-0: 0;
$sp-1: 0.25rem;
$sp-2: 0.5rem;
$sp-3: 0.75rem;
$sp-4: 1rem;
$sp-5: 1.25rem;
$sp-6: 1.5rem;
$sp-8: 2rem;
$sp-10: 2.5rem;
$sp-12: 3rem;
$sp-16: 4rem;
$sp-20: 5rem;
$sp-24: 6rem;
$sp-32: 8rem;
$sp-40: 10rem;
$sp-48: 12rem;
$sp-56: 14rem;
$sp-64: 16rem;

// WIDTH SPACING

$wsp-xs: 20rem;
$wsp-sm: 24rem;
$wsp-md: 28rem;
$wsp-lg: 32rem;
$wsp-xl: 36rem;
$wsp-2xl: 42rem;
$wsp-3xl: 48rem;
$wsp-4xl: 56rem;
$wsp-5xl: 64rem;
$wsp-6xl: 72rem;
$wsp-full: 100%;

// COLORS

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

// BORDER RADIUS
$rounded-none: 0;
$rounded-sm: 0.125rem;
$rounded-default: 0.25rem;
$rounded-lg: 0.5rem;
$rounded-full: 9999px;

// BOX SHADOW
$shadow-default: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
$shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
$shadow-none: none;

// FLUID MIXINS VARIABLES

$fl-min-w: 400px;
$fl-max-w: 1200px;



// GRADIENTS
$primary-gradient: linear-gradient(to right, #E51862, #781CB0);