.field-input {
  display: block;
  width: 100%;
  background: hsl(var(--primary-hue), 100%, 99%);
  border-radius: var(--br);
  padding: var(--input-vertical-padding) var(--input-horizontal-padding);
  border: var(--input-border-size) solid var(--primary-10);
  font-size: var(--fz-sm);
  color: var(--grey-4);

  &.has-error {
    border-color: var(--danger-8);

    &:focus,
    &:focus-within {
      box-shadow: 0 0 2px hsla(var(--danger-v-7), 0.6);
    }
  }

  &:focus,
  &:focus-within {
    outline: none;
    box-shadow: 0 0 4px hsla(var(--primary-v-7), 0.6);
  }
}
