.tooltip {
    display: block !important;
    z-index: 10000;
    font-size: var(--fz-xs);
    font-weight: var(--fw-semibold);

    .tooltip-inner {
      background: var(--grey-4);
      color: var(--grey-10);
      border-radius: var(--br);
      padding: var(--sp-2);
    //   box-shadow: 0 0 6px rgba(black, .1);
    //   filter        : drop-shadow(0px 1px 2px rgba(black, .2));

    //   border: 1px solid $grey-3;
    }
  
    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border-color: var(--grey-4);
      z-index: 1;
    //   box-shadow: 0 0 6px rgba(black, .1);

    }
  
    &[x-placement^="top"] {
      margin-bottom: 10px;
  
      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -4px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  
    &[x-placement^="bottom"] {
      margin-top: 10px;
  
      .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -4px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  
    &[x-placement^="right"] {
      margin-left: 5px;
  
      .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
  
    &[x-placement^="left"] {
      margin-right: 5px;
  
      .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }
  
    &.popover {
      $color: #f9f9f9;
  
      .popover-inner {
        background: $color;
        color: black;
        padding: 24px;
        border-radius: var(--br);
        box-shadow: 0 5px 30px rgba(black, .1);
      }
  
      .popover-arrow {
        border-color: $color;
      }
    }
  
    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s;
    }
  
    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s;
    }
}